<nav id="menuNavbar" class="navbar navbar-expand-md navbar-dark navbar-custom">
    <div class="container">

        <!-- Logo M chico, solo visible en pantallas angostas -->
        <a class="sticky-logo-badge d-md-none" href="#">
        <img src="./imagenes/logosMarca/M-Marca.png" alt="M">
        </a>

        <div class="d-flex d-md-none align-items-center ml-auto">
        <button class="btn btn-light font-weight-bold btn-sm mr-2 text-danger">
            Suscríbete
        </button>
        <button class="btn btn-outline-light font-weight-bold btn-sm">
            Iniciar sesión
        </button>
        </div>
        <button class="navbar-toggler navbar-outline-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse w-100" id="navbarSupportedContent">
            <!-- Bloque transparente a la izquierda para equilibrar el buscador y centrar el menú -->
            <div class="d-none d-md-block" style="width: 220px;"></div>

            <ul class="navbar-nav mx-auto">

                <!-- FÚTBOL -->
                <li class="nav-item dropdown position-md-static">
                    <a class="nav-link dropdown-toggle" href="#" id="futbolMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Fútbol
                    </a>
                    <div class="dropdown-menu mega-menu w-100 border-0 shadow-sm" aria-labelledby="futbolMenu">
                        <div class="container-fluid">
                            <div class="row">
                                <!-- COLUMNA ESPAÑA -->
                                <div class="col-12 col-md-4 mb-3 mb-md-0">
                                    <h6>España</h6>
                                    <a href="#" class="d-block">LALIGA EA Sports</a>
                                    <small class="d-block mb-2"><a href="#">Calendario</a> / <a href="#">Clasificación</a> / <a href="#">Equipos</a></small>

                                    <a href="#" class="d-block">Liga F Moeve</a>
                                    <small class="d-block mb-2"><a href="#">Calendario</a> / <a href="#">Clasificación</a></small>

                                    <a href="#" class="d-block">LALIGA Hypermotion</a>
                                    <small class="d-block mb-2"><a href="#">Calendario</a> / <a href="#">Clasificación</a> / <a href="#">Equipos</a></small>

                                    <a href="#" class="d-block">Primera Federación</a>
                                    <a href="#" class="d-block">Segunda Federación</a>
                                    <a href="#" class="d-block">Tercera Federación</a>
                                    <a href="#" class="d-block">Copa del Rey</a>
                                    <a href="#" class="d-block">Copa de la Reina</a>
                                    <a href="#" class="d-block">Más fútbol</a>
                                    <a href="#" class="d-block">Supercopa de España</a>
                                    <a href="#" class="d-block">Supercopa de España femenina</a>
                                    <a href="#" class="d-block">Selección Española</a>
                                    <small class="d-block">UEFA Nations League</small>
                                    <a href="#" class="d-block">Selección Española femenina</a>
                                    <small class="d-block">Eurocopa</small>
                                    <a href="#" class="d-block">Fútbol Sala</a>
                                    <a href="#" class="d-block">Premios MARCA de Fútbol</a>
                                    <a href="#" class="d-block">FootHistoria</a>
                                </div>

                                <!-- COLUMNA INTERNACIONAL -->
                                <div class="col-12 col-md-4 mb-3 mb-md-0">
                                    <h6>Internacional <i class="fas fa-chevron-right float-right d-none d-md-inline"></i></h6>
                                    <a href="#" class="d-block">Premier League</a>
                                    <small class="d-block mb-2"><a href="#">Calendario</a> / <a href="#">Clasificación</a> / <a href="#">Equipos</a></small>

                                    <a href="#" class="d-block">Bundesliga</a>
                                    <small class="d-block mb-2"><a href="#">Calendario</a> / <a href="#">Clasificación</a> / <a href="#">Equipos</a></small>

                                    <a href="#" class="d-block">Serie A</a>
                                    <small class="d-block mb-2"><a href="#">Calendario</a> / <a href="#">Clasificación</a> / <a href="#">Equipos</a></small>

                                    <a href="#" class="d-block">Ligue 1</a>
                                    <small class="d-block mb-2"><a href="#">Calendario</a> / <a href="#">Clasificación</a> / <a href="#">Equipos</a></small>

                                    <a href="#" class="d-block">Primeira Liga de Portugal</a>
                                    <small class="d-block mb-2"><a href="#">Calendario</a> / <a href="#">Equipos</a></small>

                                    <a href="#" class="d-block">Liga Saudí</a>

                                    <h6 class="mt-3">Mundial</h6>
                                    <a href="#" class="d-block">Mundial</a>
                                    <small class="d-block mb-2"><a href="#">Calendario</a> / <a href="#">Fase de grupos</a> / <a href="#">Resultados</a></small>

                                    <a href="#" class="d-block">Champions League</a>
                                    <small class="d-block mb-2"><a href="#">Calendario</a> / <a href="#">Clasificación</a> / <a href="#">Equipos</a></small>

                                    <a href="#" class="d-block">Champions League femenina</a>
                                    <small class="d-block mb-2"><a href="#">Calendario</a> / <a href="#">Clasificación</a></small>

                                    <a href="#" class="d-block">Europa League</a>
                                    <small class="d-block mb-2"><a href="#">Calendario</a> / <a href="#">Clasificación</a> / <a href="#">Equipos</a></small>

                                    <a href="#" class="d-block">Conference League</a>
                                    <small class="d-block mb-2"><a href="#">Calendario</a> / <a href="#">Clasificación</a> / <a href="#">Equipos</a></small>

                                    <a href="#" class="d-block">Youth League</a>
                                    <small class="d-block mb-2"><a href="#">Calendario</a> / <a href="#">Clasificación</a></small>

                                    <a href="#" class="d-block">Supercopa de Europa</a>
                                    <a href="#" class="d-block">Copa Intercontinental</a>
                                    <a href="#" class="d-block">Mundial de Clubes</a>
                                    <a href="#" class="d-block">Mundial Femenino</a>
                                    <a href="#" class="d-block">Mundial Sub 20</a>
                                    <a href="#" class="d-block">Mundial Sub 17</a>
                                    <a href="#" class="d-block">EURO 2024</a>
                                    <a href="#" class="d-block">Copa África</a>
                                </div>

                                <!-- COLUMNA AMÉRICA -->
                                <div class="col-12 col-md-4 mb-3 mb-md-0">
                                    <h6>América <i class="fas fa-chevron-right float-right d-none d-md-inline"></i></h6>
                                    <a href="#" class="d-block">Argentina</a>
                                    <small class="d-block mb-2"><a href="#">Calendario</a> / <a href="#">Clasificación</a></small>

                                    <a href="#" class="d-block">Chile</a>
                                    <small class="d-block mb-2"><a href="#">Calendario</a> / <a href="#">Clasificación</a></small>

                                    <a href="#" class="d-block">Colombia</a>
                                    <small class="d-block mb-2"><a href="#">Calendario</a> / <a href="#">Clasificación</a></small>

                                    <a href="#" class="d-block">Estados Unidos</a>
                                    <small class="d-block mb-2"><a href="#">Calendario</a> / <a href="#">Clasificación</a></small>

                                    <a href="#" class="d-block">México</a>
                                    <small class="d-block mb-2"><a href="#">Calendario</a> / <a href="#">Clasificación</a></small>

                                    <a href="#" class="d-block">Venezuela</a>
                                    <small class="d-block mb-2"><a href="#">Calendario</a> / <a href="#">Clasificación</a></small>

                                    <a href="#" class="d-block">Leagues Cup</a>
                                    <small class="d-block mb-2"><a href="#">Calendario</a> / <a href="#">Clasificación</a></small>

                                    <a href="#" class="d-block">CONMEBOL Libertadores</a>
                                    <small class="d-block mb-2"><a href="#">Calendario</a> / <a href="#">Clasificación</a></small>

                                    <a href="#" class="d-block">Copa América</a>
                                    <a href="#" class="d-block">Más América</a>
                                    <small class="d-block"><a href="#">Campeonato Brasileño</a> / <a href="#">Liga Bolivia</a> / <a href="#">Paraguayan Primera División</a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <!-- BALONCESTO -->
                <li class="nav-item dropdown position-md-static">
                    <a class="nav-link dropdown-toggle" href="#" id="baloncestoMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Baloncesto
                    </a>
                    <div class="dropdown-menu mega-menu w-100 border-0 shadow-sm" aria-labelledby="baloncestoMenu">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 col-md-4 mb-3 mb-md-0">
                                    <h6 class="muted-title">España</h6>
                                    <a href="#" class="d-block">Liga Endesa</a>
                                    <small class="d-block mb-2"><a href="#">Calendario</a> / <a href="#">Clasificación</a></small>
                                    <a href="#" class="d-block">Liga Endesa femenina</a>
                                    <a href="#" class="d-block">Primera FEB</a>
                                    <a href="#" class="d-block">Segunda FEB</a>
                                    <a href="#" class="d-block">Copa del Rey</a>
                                    <small class="d-block mb-2">Cuadro y resultados</small>
                                    <a href="#" class="d-block">Supercopa Endesa</a>
                                    <small class="d-block mb-2">Cuadro y resultados</small>
                                    <a href="#" class="d-block">Basket FEB</a>
                                    <a href="#" class="d-block">Selección</a>
                                </div>
                                <div class="col-12 col-md-4 mb-3 mb-md-0">
                                    <h6 class="muted-title">Europa</h6>
                                    <a href="#" class="d-block">Eurobasket</a>
                                    <a href="#" class="d-block">Euroliga</a>
                                    <small class="d-block mb-2"><a href="#">Clasificación</a> / <a href="#">Calendario</a></small>
                                    <a href="#" class="d-block">Euroliga femenina</a>
                                    <a href="#" class="d-block">Eurocup</a>
                                    <small class="d-block mb-2">Resultados y Clasificación</small>
                                    <a href="#" class="d-block">FIBA Champions League</a>
                                    <small class="d-block mb-2">Resultados y Clasificación</small>
                                </div>
                                <div class="col-12 col-md-4 mb-3 mb-md-0">
                                    <h6 class="muted-title">Internacional</h6>
                                    <a href="#" class="d-block">NBA</a>
                                    <small class="d-block mb-2"><a href="#">Calendario</a> / <a href="#">Clasificaciones</a> / <a href="#">Equipos</a></small>
                                    <a href="#" class="d-block">Mundial 2023</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <!-- MOTOR -->
                <li class="nav-item dropdown position-md-static">
                    <a class="nav-link dropdown-toggle" href="#" id="motorMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Motor
                    </a>
                    <div class="dropdown-menu mega-menu w-100 border-0 shadow-sm" aria-labelledby="motorMenu">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 col-md-4 mb-3 mb-md-0">
                                    <h6 class="muted-title">Coches</h6>
                                    <a href="#" class="d-block">Fórmula 1</a>
                                    <small class="d-block"><a href="#">Calendario</a> / <a href="#">Clasificación de pilotos</a></small>
                                    <small class="d-block mb-2"><a href="#">Clasificación de constructores</a></small>
                                    <a href="#" class="d-block">Grandes Premios de Fórmula 1</a>
                                    <small class="d-block mb-2">
                                        <a href="#">Australia</a> / <a href="#">China</a> / <a href="#">Japón</a> / <a href="#">Bahrein</a> /
                                        <a href="#">Arabia Saudí</a> / <a href="#">Miami</a> / <a href="#">Canadá</a> / <a href="#">Mónaco</a> /
                                        <a href="#">Barcelona - Catalunya</a> / <a href="#">Austria</a> / <a href="#">Gran Bretaña</a> /
                                        <a href="#">Bélgica</a> / <a href="#">Hungría</a> / <a href="#">Países Bajos</a> / <a href="#">Italia</a> / <a href="#">España</a> /
                                        <a href="#">Azerbaiyán</a> / <a href="#">Bahrein</a> / <a href="#">Singapur</a> /
                                        <a href="#">Estados Unidos</a> / <a href="#">México</a> / <a href="#">Brasil</a> / <a href="#">Las Vegas</a> /
                                        <a href="#">Qatar</a> / <a href="#">Abu Dabi</a>
                                    </small>

                                    <a href="#" class="d-block">Fórmula E</a>
                                    <a href="#" class="d-block">Rallies</a>
                                    <small class="d-block"><a href="#">Calendario</a> / <a href="#">Clasificación de pilotos</a></small>
                                    <small class="d-block mb-2"><a href="#">Clasificación de equipos</a></small>
                                    <a href="#" class="d-block">Dakar</a>
                                    <a href="#" class="d-block">WEC</a>
                                    <a href="#" class="d-block">Indycar</a>
                                    <a href="#" class="d-block">24 Horas de Daytona</a>
                                    <a href="#" class="d-block">24 Horas de Le Mans</a>
                                </div>
                                <div class="col-12 col-md-4 mb-3 mb-md-0">
                                    <h6 class="muted-title">Motos</h6>
                                    <a href="#" class="d-block">Moto GP</a>
                                    <small class="d-block mb-2"><a href="#">Calendario</a> / <a href="#">Clasificación de pilotos</a></small>
                                    <a href="#" class="d-block">Grandes Premios de Moto GP</a>
                                    <small class="d-block mb-2">
                                        <a href="#">Tailandia</a> / <a href="#">Brasil</a> / <a href="#">Las Américas</a> / <a href="#">Qatar</a> /
                                        <a href="#">España</a> / <a href="#">Francia</a> / <a href="#">Cataluña</a> / <a href="#">Italia</a> / <a href="#">Hungría</a> /
                                        <a href="#">República Checa</a> / <a href="#">Países Bajos</a> / <a href="#">Alemania</a> /
                                        <a href="#">Gran Bretaña</a> / <a href="#">Aragón</a> / <a href="#">San Marino</a> / <a href="#">Austria</a> /
                                        <a href="#">Japón</a> / <a href="#">Indonesia</a> / <a href="#">Australia</a> / <a href="#">Malasia</a> /
                                        <a href="#">Portugal</a> / <a href="#">Valencia</a>
                                    </small>
                                </div>
                                <div class="col-12 col-md-4 mb-3 mb-md-0">
                                    <h6 class="muted-title">Modelos de coches</h6>
                                    <a href="#" class="d-block">Pruebas de coches</a>
                                    <a href="#" class="d-block">Ocio</a>
                                    <a href="#" class="d-block">Vídeos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <!-- POLIDEPORTIVO -->
                <li class="nav-item dropdown position-md-static">
                    <a class="nav-link dropdown-toggle" href="#" id="polideportivoMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Polideportivo
                    </a>
                    <div class="dropdown-menu mega-menu w-100 border-0 shadow-sm" aria-labelledby="polideportivoMenu">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 col-md-3 mb-3 mb-md-0">
                                    <h6 class="muted-title">Destacamos</h6>
                                    <a href="#" class="d-block">Atletismo</a>
                                    <a href="#" class="d-block">Balonmano</a>
                                    <a href="#" class="d-block">Ciclismo</a>
                                    <a href="#" class="d-block">Golf</a>
                                    <a href="#" class="d-block">Tenis</a>
                                    <a href="#" class="d-block">Boxeo</a>
                                    <a href="#" class="d-block">Pádel</a>
                                </div>
                                <div class="col-12 col-md-3 mb-3 mb-md-0">
                                    <h6 class="muted-title">Otros deportes <i class="fas fa-chevron-right float-right d-none d-md-inline"></i></h6>
                                    <a href="#" class="d-block">Ajedrez</a>
                                    <a href="#" class="d-block">Deportes Aventura</a>
                                    <a href="#" class="d-block">Deportes Invierno</a>
                                    <a href="#" class="d-block">eSports</a>
                                    <a href="#" class="d-block">Hípica</a>
                                    <a href="#" class="d-block">Hockey Hierba</a>
                                    <a href="#" class="d-block">Hockey Patines</a>
                                    <a href="#" class="d-block">Juegos Olímpicos</a>
                                    <a href="#" class="d-block">Juegos Olímpicos de Invierno</a>
                                </div>
                                <div class="col-12 col-md-3 mb-3 mb-md-0">
                                    <h6 class="muted-title d-none d-md-block">&nbsp;</h6>
                                    <a href="#" class="d-block">MMA</a>
                                    <a href="#" class="d-block">Natación</a>
                                    <a href="#" class="d-block">NFL</a>
                                    <a href="#" class="d-block">NHL</a>
                                    <a href="#" class="d-block">Olimpismo</a>
                                    <a href="#" class="d-block">Paralímpicos</a>
                                    <a href="#" class="d-block">Rugby</a>
                                    <a href="#" class="d-block">Tenis de mesa</a>
                                </div>
                                <div class="col-12 col-md-3 mb-3 mb-md-0">
                                    <h6 class="muted-title d-none d-md-block">&nbsp;</h6>
                                    <a href="#" class="d-block">Toros</a>
                                    <a href="#" class="d-block">Triatlón</a>
                                    <a href="#" class="d-block">Turf</a>
                                    <a href="#" class="d-block">UFC</a>
                                    <a href="#" class="d-block">Vela</a>
                                    <a href="#" class="d-block">Voleibol</a>
                                    <a href="#" class="d-block">Waterpolo</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <!-- MÁS + -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Más +</a>
                </li>

            </ul>

            <!-- Buscador ajustado en ancho exacto para equilibrar la alineación -->
            <form class="d-flex align-items-center bg-white px-3 my-2 my-md-0 border rounded" style="width: 220px;">
                <input type="search" class="form-control border-0 p-0" placeholder="Buscar en marca.com" style="box-shadow: none;">
                <button type="submit" class="btn border-0 p-0">
                    <i class="fas fa-search text-muted"></i>
                </button>
            </form>
        </div>
    </div>
</nav>
