<div class="container-fluid bg-white py-2 border-top border-bottom">
    <div class="d-flex align-items-center flex-nowrap overflow-auto teams-strip ">

        <a href="#"><img src="./imagenes/pb4/equipos/alaves.webp" alt="Alavés" width="28" height="28"></a>
        <a href="#"><img src="./imagenes/pb4/equipos/athletic.png" alt="Athletic Club" width="28" height="28"></a>
        <a href="#"><img src="./imagenes/pb4/equipos/atletico.webp" alt="Atlético de Madrid" width="24" height="28"></a>
        <a href="#"><img src="./imagenes/pb4/equipos/barcelona.webp" alt="FC Barcelona" width="24" height="28"></a>
        <a href="#"><img src="./imagenes/pb4/equipos/betis.png" alt="Real Betis" width="24" height="28"></a>
        <a href="#"><img src="./imagenes/pb4/equipos/celta.png" alt="Celta de Vigo" width="24" height="28"></a>
        <a href="#"><img src="./imagenes/pb4/equipos/eibar.png" alt="SD Eibar" width="24" height="28"></a>
        <a href="#"><img src="./imagenes/pb4/equipos/espanyol.png" alt="RCD Espanyol" width="30" height="28"></a>
        <a href="#"><img src="./imagenes/pb4/equipos/getafe.webp" alt="Getafe CF" width="30" height="28"></a>
        <a href="#"><img src="./imagenes/pb4/equipos/girona.svg" alt="Girona FC" width="30" height="28"></a>
        <a href="#"><img src="./imagenes/pb4/equipos/huesca.webp" alt="SD Huesca" width="26" height="28"></a>
        <a href="#"><img src="./imagenes/pb4/equipos/leganes.png" alt="CD Leganés" width="30" height="28"></a>
        <a href="#"><img src="./imagenes/pb4/equipos/levante.png" alt="Levante UD" width="30" height="28"></a>
        <a href="#"><img src="./imagenes/pb4/equipos/rayo.webp" alt="Rayo Vallecano" width="30" height="28"></a>
        <a href="#"><img src="./imagenes/pb4/equipos/realmadrid.svg" alt="Real Madrid" width="30" height="28"></a>
        <a href="#"><img src="./imagenes/pb4/equipos/realsociedad.png" alt="Real Sociedad" width="30" height="28"></a>
        <a href="#"><img src="./imagenes/pb4/equipos/sevilla.webp" alt="Sevilla FC" width="26" height="28"></a>
        <a href="#"><img src="./imagenes/pb4/equipos/valencia.webp" alt="Valencia CF" width="24" height="28"></a>
        <a href="#"><img src="./imagenes/pb4/equipos/valladolid.svg" alt="Real Valladolid" width="24" height="28"></a>
        <a href="#"><img src="./imagenes/pb4/equipos/villarreal.svg" alt="Villarreal CF" width="24" height="28"></a>

        <img src="./imagenes/pb4/equipos/marca-apuestas.png" alt="MARCA apuestas" width="150" height="44" class="ml-3 flex-shrink-0">
    </div>
</div>