<nav id="menuNavbar" class="navbar navbar-expand-md navbar-dark navbar-custom">

        <!-- Logo M chico, solo visible en pantallas angostas -->
        <a class="navbar-brand d-md-none mr-2" href="#">
            <img src="./imagenes/logosMarca/M-Marca.png" width="30" height="30" alt="M">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
 
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
 
                <!-- FÚTBOL -->
               <li class="nav-item dropdown position-static">
  <a class="nav-link dropdown-toggle" href="#" id="futbolMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Fútbol
  </a>
  <div class="dropdown-menu mega-menu w-100" aria-labelledby="futbolMenu">
    <div class="container-fluid">
      <div class="row">
 
        <!-- COLUMNA ESPAÑA -->
        <div class="col-md-4">
          <h6>España</h6>
          <a href="#">LALIGA EA Sports</a>
          <small><a href="#">Calendario</a> / <a href="#">Clasificación</a> / <a href="#">Equipos</a></small>
 
          <a href="#">Liga F Moeve</a>
          <small><a href="#">Calendario</a> / <a href="#">Clasificación</a></small>
 
          <a href="#">LALIGA Hypermotion</a>
          <small><a href="#">Calendario</a> / <a href="#">Clasificación</a> / <a href="#">Equipos</a></small>
 
          <a href="#">Primera Federación</a>
          <a href="#">Segunda Federación</a>
          <a href="#">Tercera Federación</a>
          <a href="#">Copa del Rey</a>
          <a href="#">Copa de la Reina</a>
          <a href="#">Más fútbol</a>
          <a href="#">Supercopa de España</a>
          <a href="#">Supercopa de España femenina</a>
          <a href="#">Selección Española</a>
          <small>UEFA Nations League</small>
          <a href="#">Selección Española femenina</a>
          <small>Eurocopa</small>
          <a href="#">Fútbol Sala</a>
          <a href="#">Premios MARCA de Fútbol</a>
          <a href="#">FootHistoria</a>
        </div>
 
        <!-- COLUMNA INTERNACIONAL -->
        <div class="col-md-4">
          <h6>Internacional <i class="fas fa-chevron-right float-right"></i></h6>
          <a href="#">Premier League</a>
          <small><a href="#">Calendario</a> / <a href="#">Clasificación</a> / <a href="#">Equipos</a></small>
 
          <a href="#">Bundesliga</a>
          <small><a href="#">Calendario</a> / <a href="#">Clasificación</a> / <a href="#">Equipos</a></small>
 
          <a href="#">Serie A</a>
          <small><a href="#">Calendario</a> / <a href="#">Clasificación</a> / <a href="#">Equipos</a></small>
 
          <a href="#">Ligue 1</a>
          <small><a href="#">Calendario</a> / <a href="#">Clasificación</a> / <a href="#">Equipos</a></small>
 
          <a href="#">Primeira Liga de Portugal</a>
          <small><a href="#">Calendario</a> / <a href="#">Equipos</a></small>
 
          <a href="#">Liga Saudí</a>
 
          <h6 class="mt-3">Mundial</h6>
          <a href="#">Mundial</a>
          <small><a href="#">Calendario</a> / <a href="#">Fase de grupos</a> / <a href="#">Resultados</a></small>
 
          <a href="#">Champions League</a>
          <small><a href="#">Calendario</a> / <a href="#">Clasificación</a> / <a href="#">Equipos</a></small>
 
          <a href="#">Champions League femenina</a>
          <small><a href="#">Calendario</a> / <a href="#">Clasificación</a></small>
 
          <a href="#">Europa League</a>
          <small><a href="#">Calendario</a> / <a href="#">Clasificación</a> / <a href="#">Equipos</a></small>
 
          <a href="#">Conference League</a>
          <small><a href="#">Calendario</a> / <a href="#">Clasificación</a> / <a href="#">Equipos</a></small>
 
          <a href="#">Youth League</a>
          <small><a href="#">Calendario</a> / <a href="#">Clasificación</a></small>
 
          <a href="#">Supercopa de Europa</a>
          <a href="#">Copa Intercontinental</a>
          <a href="#">Mundial de Clubes</a>
          <a href="#">Mundial Femenino</a>
          <a href="#">Mundial Sub 20</a>
          <a href="#">Mundial Sub 17</a>
          <a href="#">EURO 2024</a>
          <a href="#">Copa África</a>
        </div>
 
        <!-- COLUMNA AMÉRICA -->
        <div class="col-md-4">
          <h6>América <i class="fas fa-chevron-right float-right"></i></h6>
          <a href="#">Argentina</a>
          <small><a href="#">Calendario</a> / <a href="#">Clasificación</a></small>
 
          <a href="#">Chile</a>
          <small><a href="#">Calendario</a> / <a href="#">Clasificación</a></small>
 
          <a href="#">Colombia</a>
          <small><a href="#">Calendario</a> / <a href="#">Clasificación</a></small>
 
          <a href="#">Estados Unidos</a>
          <small><a href="#">Calendario</a> / <a href="#">Clasificación</a></small>
 
          <a href="#">México</a>
          <small><a href="#">Calendario</a> / <a href="#">Clasificación</a></small>
 
          <a href="#">Venezuela</a>
          <small><a href="#">Calendario</a> / <a href="#">Clasificación</a></small>
 
          <a href="#">Leagues Cup</a>
          <small><a href="#">Calendario</a> / <a href="#">Clasificación</a></small>
 
          <a href="#">CONMEBOL Libertadores</a>
          <small><a href="#">Calendario</a> / <a href="#">Clasificación</a></small>
 
          <a href="#">Copa América</a>
          <a href="#">Más América</a>
          <small><a href="#">Campeonato Brasileño</a> / <a href="#">Liga Bolivia</a> / <a href="#">Paraguayan Primera División</a></small>
        </div>
 
      </div>
    </div>
  </div>
</li>
                <!-- BALONCESTO -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                        Baloncesto
                    </a>
                    <div class="dropdown-menu mega-menu">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4">
                                    <h6 class="muted-title">España</h6>
                                    <a href="#">Liga Endesa</a>
                                    <small><a href="#">Calendario</a> / <a href="#">Clasificación</a></small>
                                    <a href="#">Liga Endesa femenina</a>
                                    <a href="#">Primera FEB</a>
                                    <a href="#">Segunda FEB</a>
                                    <a href="#">Copa del Rey</a>
                                    <small>Cuadro y resultados</small>
                                    <a href="#">Supercopa Endesa</a>
                                    <small>Cuadro y resultados</small>
                                    <a href="#">Basket FEB</a>
                                    <a href="#">Selección</a>
                                </div>
                                <div class="col-md-4">
                                    <h6 class="muted-title">Europa</h6>
                                    <a href="#">Eurobasket</a>
                                    <a href="#">Euroliga</a>
                                    <small><a href="#">Clasificación</a> / <a href="#">Calendario</a></small>
                                    <a href="#">Euroliga femenina</a>
                                    <a href="#">Eurocup</a>
                                    <small>Resultados y Clasificación</small>
                                    <a href="#">FIBA Champions League</a>
                                    <small>Resultados y Clasificación</small>
                                </div>
                                <div class="col-md-4">
                                    <h6 class="muted-title">Internacional</h6>
                                    <a href="#">NBA</a>
                                    <small><a href="#">Calendario</a> / <a href="#">Clasificaciones</a> / <a href="#">Equipos</a></small>
                                    <a href="#">Mundial 2023</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
 
                <!-- MOTOR -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                        Motor
                    </a>
                    <div class="dropdown-menu mega-menu">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4">
                                    <h6 class="muted-title">Coches</h6>
                                    <a href="#">Fórmula 1</a>
                                    <small><a href="#">Calendario</a> / <a href="#">Clasificación de pilotos</a></small>
                                    <small><a href="#">Clasificación de constructores</a></small>
                                    <a href="#">Grandes Premios de Fórmula 1</a>
                                    <small>
                                        <a href="#">Australia</a> / <a href="#">China</a> / <a href="#">Japón</a> / <a href="#">Bahrein</a> /
                                        <a href="#">Arabia Saudí</a> / <a href="#">Miami</a> / <a href="#">Canadá</a> / <a href="#">Mónaco</a> /
                                        <a href="#">Barcelona - Catalunya</a> / <a href="#">Austria</a> / <a href="#">Gran Bretaña</a> /
                                        <a href="#">Bémdica</a> / <a href="#">Hungría</a> / <a href="#">Países Bajos</a> / <a href="#">Italia</a> / <a href="#">España</a> /
                                        <a href="#">Azerbaiyán</a> / <a href="#">Bahrein</a> / <a href="#">Singapur</a> /
                                        <a href="#">Estados Unidos</a> / <a href="#">México</a> / <a href="#">Brasil</a> / <a href="#">Las Vegas</a> /
                                        <a href="#">Qatar</a> / <a href="#">Abu Dabi</a>
                                    </small>
 
                                    <a href="#">Fórmula E</a>
                                    <a href="#">Rallies</a>
                                    <small><a href="#">Calendario</a> / <a href="#">Clasificación de pilotos</a> /</small>
                                    <small><a href="#">Clasificación de equipos</a></small>
                                    <a href="#">Dakar</a>
                                    <a href="#">WEC</a>
                                    <a href="#">Indycar</a>
                                    <a href="#">24 Horas de Daytona</a>
                                    <a href="#">24 Horas de Le Mans</a>
                                </div>
                                <div class="col-md-4">
                                    <h6 class="muted-title">Motos</h6>
                                    <a href="#">Moto GP</a>
                                    <small><a href="#">Calendario</a> / <a href="#">Clasificación de pilotos</a></small>
                                    <a href="#">Grandes Premios de Moto GP</a>
                                    <small>
                                        <a href="#">Tailandia</a> / <a href="#">Brasil</a> / <a href="#">Las Américas</a> / <a href="#">Qatar</a> /
                                        <a href="#">España</a> / <a href="#">Francia</a> / <a href="#">Cataluña</a> / <a href="#">Italia</a> / <a href="#">Hungría</a> /
                                        <a href="#">República Checa</a> / <a href="#">Países Bajos</a> / <a href="#">Alemania</a> /
                                        <a href="#">Gran Bretaña</a> / <a href="#">Aragón</a> / <a href="#">San Marino</a> / <a href="#">Austria</a> /
                                        <a href="#">Japón</a> / <a href="#">Indonesia</a> / <a href="#">Australia</a> / <a href="#">Malasia</a> /
                                        <a href="#">Portugal</a> / <a href="#">Valencia</a>
                                    </small>
                                </div>
                                <div class="col-md-4">
                                    <h6 class="muted-title">Modelos de coches</h6>
                                    <a href="#">Pruebas de coches</a>
                                    <a href="#">Ocio</a>
                                    <a href="#">Vídeos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
 
                <!-- POLIDEPORTIVO -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                        Polideportivo
                    </a>
                    <div class="dropdown-menu mega-menu">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6 class="muted-title">Destacamos</h6>
                                    <a href="#">Atletismo</a>
                                    <a href="#">Balonmano</a>
                                    <a href="#">Ciclismo</a>
                                    <a href="#">Golf</a>
                                    <a href="#">Tenis</a>
                                    <a href="#">Boxeo</a>
                                    <a href="#">Pádel</a>
                                </div>
                                <div class="col-md-3">
                                    <h6 class="muted-title">Otros deportes <i class="fas fa-chevron-right float-right"></i></h6>
                                    <a href="#">Ajedrez</a>
                                    <a href="#">Deportes Aventura</a>
                                    <a href="#">Deportes Invierno</a>
                                    <a href="#">eSports</a>
                                    <a href="#">Hípica</a>
                                    <a href="#">Hockey Hierba</a>
                                    <a href="#">Hockey Patines</a>
                                    <a href="#">Juegos Olímpicos</a>
                                    <a href="#">Juegos Olímpicos de Invierno</a>
                                </div>
                                <div class="col-md-3">
                                    <h6 class="muted-title">&nbsp;</h6>
                                    <a href="#">MMA</a>
                                    <a href="#">Natación</a>
                                    <a href="#">NFL</a>
                                    <a href="#">NHL</a>
                                    <a href="#">Olimpismo</a>
                                    <a href="#">Paralímpicos</a>
                                    <a href="#">Rugby</a>
                                    <a href="#">Tenis de mesa</a>
                                </div>
                                <div class="col-md-3">
                                    <h6 class="muted-title">&nbsp;</h6>
                                    <a href="#">Toros</a>
                                    <a href="#">Triatlón</a>
                                    <a href="#">Turf</a>
                                    <a href="#">UFC</a>
                                    <a href="#">Vela</a>
                                    <a href="#">Voleibol</a>
                                    <a href="#">Waterpolo</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
 
                <!-- MÁS + -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Más +</a>
                </li>
 
            </ul>
 
            <!-- Buscador tipo píldora blanca -->
            <form class="d-flex align-items-center bg-white px-3 my-2 my-md-0 border rounded">
                <input type="search" class="form-control border-0 p-0" placeholder="Buscar en marca.com" style="box-shadow: none;">
                <button type="submit" class="btn border-0 p-0">
                    <i class="fas fa-search text-muted"></i>
                </button>
            </form>
        </div>
    </nav>