<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <!-- FÚTBOL -->
            <li class="nav-item dropdown position-static">
                <a class="nav-link dropdown-toggle" href="#" id="futbolMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Fútbol
                </a>
                <div class="dropdown-menu mega-menu w-100" aria-labelledby="futbolMenu">
                    <div class="container-fluid">
                        <div class="row">
                            <!-- COLUMNA ESPAÑA -->
                            <div class="col-md-4">
                                <h6>España</h6>
                                <a href="#">LALIGA EA Sports</a>
                                <small><a href="#">Calendario</a> / <a href="#">Clasificación</a> / <a href="#">Equipos</a></small>
                                <a href="#">Liga F Moeve</a>
                                <small><a href="#">Calendario</a> / <a href="#">Clasificación</a></small>
                                <a href="#">LALIGA Hypermotion</a>
                                <small><a href="#">Calendario</a> / <a href="#">Clasificación</a> / <a href="#">Equipos</a></small>
                                <a href="#">Primera Federación</a>
                                <a href="#">Segunda Federación</a>
                                <a href="#">Tercera Federación</a>
                                <a href="#">Copa del Rey</a>
                                <a href="#">Copa de la Reina</a>
                                <a href="#">Más fútbol</a>
                                <a href="#">Supercopa de España</a>
                                <a href="#">Supercopa de España femenina</a>
                                <a href="#">Selección Española</a>
                                <small>UEFA Nations League</small>
                                <a href="#">Selección Española femenina</a>
                                <small>Eurocopa</small>
                                <a href="#">Fútbol Sala</a>
                                <a href="#">Premios MARCA de Fútbol</a>
                                <a href="#">FootHistoria</a>
                            </div>

                            <!-- COLUMNA INTERNACIONAL -->
                            <div class="col-md-4">
                                <h6>Internacional <i class="fas fa-chevron-right float-right"></i></h6>
                                <a href="#">Premier League</a>
                                <small><a href="#">Calendario</a> / <a href="#">Clasificación</a> / <a href="#">Equipos</a></small>
                                <a href="#">Bundesliga</a>
                                <small><a href="#">Calendario</a> / <a href="#">Clasificación</a> / <a href="#">Equipos</a></small>
                                <a href="#">Serie A</a>
                                <small><a href="#">Calendario</a> / <a href="#">Clasificación</a> / <a href="#">Equipos</a></small>
                                <a href="#">Ligue 1</a>
                                <small><a href="#">Calendario</a> / <a href="#">Clasificación</a> / <a href="#">Equipos</a></small>
                                <a href="#">Primeira Liga de Portugal</a>
                                <small><a href="#">Calendario</a> / <a href="#">Equipos</a></small>
                                <a href="#">Liga Saudí</a>
                                <h6 class="mt-3">Mundial</h6>
                                <a href="#">Mundial</a>
                                <small><a href="#">Calendario</a> / <a href="#">Fase de grupos</a> / <a href="#">Resultados</a></small>
                                <a href="#">Champions League</a>
                                <small><a href="#">Calendario</a> / <a href="#">Clasificación</a> / <a href="#">Equipos</a></small>
                                <a href="#">Champions League femenina</a>
                                <small><a href="#">Calendario</a> / <a href="#">Clasificación</a></small>
                                <a href="#">Europa League</a>
                                <small><a href="#">Calendario</a> / <a href="#">Clasificación</a> / <a href="#">Equipos</a></small>
                                <a href="#">Conference League</a>
                                <small><a href="#">Calendario</a> / <a href="#">Clasificación</a> / <a href="#">Equipos</a></small>
                                <a href="#">Youth League</a>
                                <small><a href="#">Calendario</a> / <a href="#">Clasificación</a></small>
                                <a href="#">Supercopa de Europa</a>
                                <a href="#">Copa Intercontinental</a>
                                <a href="#">Mundial de Clubes</a>
                                <a href="#">Mundial Femenino</a>
                                <a href="#">Mundial Sub 20</a>
                                <a href="#">Mundial Sub 17</a>
                                <a href="#">EURO 2024</a>
                                <a href="#">Copa África</a>
                            </div>

                            <!-- COLUMNA AMÉRICA -->
                            <div class="col-md-4">
                                <h6>América <i class="fas fa-chevron-right float-right"></i></h6>
                                <a href="#">Argentina</a>
                                <small><a href="#">Calendario</a> / <a href="#">Clasificación</a></small>
                                <a href="#">Chile</a>
                                <small><a href="#">Calendario</a> / <a href="#">Clasificación</a></small>
                                <a href="#">Colombia</a>
                                <small><a href="#">Calendario</a> / <a href="#">Clasificación</a></small>
                                <a href="#">Estados Unidos</a>
                                <small><a href="#">Calendario</a> / <a href="#">Clasificación</a></small>
                                <a href="#">México</a>
                                <small><a href="#">Calendario</a> / <a href="#">Clasificación</a></small>
                                <a href="#">Venezuela</a>
                                <small><a href="#">Calendario</a> / <a href="#">Clasificación</a></small>
                                <a href="#">Leagues Cup</a>
                                <small><a href="#">Calendario</a> / <a href="#">Clasificación</a></small>
                                <a href="#">CONMEBOL Libertadores</a>
                                <small><a href="#">Calendario</a> / <a href="#">Clasificación</a></small>
                                <a href="#">Copa América</a>
                                <a href="#">Más América</a>
                                <small><a href="#">Campeonato Brasileño</a> / <a href="#">Liga Bolivia</a> / <a href="#">Paraguayan Primera División</a></small>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <!-- BALONCESTO -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    Baloncesto
                </a>
                <div class="dropdown-menu mega-menu">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3">
                                <h6>ACB</h6>
                                <a class="dropdown-item" href="#">Calendario</a>
                                <a class="dropdown-item" href="#">Clasificación</a>
                                <a class="dropdown-item" href="#">Equipos</a>
                            </div>
                            <div class="col-md-3">
                                <h6>NBA</h6>
                                <a class="dropdown-item" href="#">Calendario</a>
                                <a class="dropdown-item" href="#">Clasificación</a>
                            </div>
                            <div class="col-md-3">
                                <h6>Selección</h6>
                                <a class="dropdown-item" href="#">Selección Española</a>
                                <a class="dropdown-item" href="#">Eurobasket</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <!-- MOTOR -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    Motor
                </a>
                <div class="dropdown-menu mega-menu">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3">
                                <h6 class="muted-title">Motor</h6>
                                <h6>F1</h6>
                                <small><a href="#">Calendario</a> / <a href="#">Clasificación</a> /</small>
                                <small><a href="#">Clasificación constructores</a></small>
                                <h6 class="mt-2">Motociclismo</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <!-- POLIDEPORTIVO -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    Polideportivo
                </a>
                <div class="dropdown-menu mega-menu">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3">
                                <h6>Básquetbol</h6>
                                <small>NBA</small>
                                <h6 class="mt-2">UFC</h6>
                            </div>
                            <div class="col-md-3">
                                <h6>Béisbol</h6>
                                <small><a href="#">Calendario</a> / <a href="#">Posiciones</a></small>
                                <h6 class="mt-2">Juegos Olímpicos</h6>
                            </div>
                            <div class="col-md-3">
                                <h6>Tenis</h6>
                                <small>Abierto Mexicano</small>
                                <h6 class="mt-2">Juegos Centroamericanos</h6>
                            </div>
                            <div class="col-md-3">
                                <h6>Lucha Libre</h6>
                                <h6 class="mt-2">Juegos Panamericanos</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <!-- MÁS + -->
            <li class="nav-item">
                <a class="nav-link" href="#">Más +</a>
            </li>
        </ul>

        <!-- Buscador -->
        <form class="d-flex align-items-center bg-white px-3 my-2 my-lg-0" style="border-radius: 20px; width: 260px;">
            <input type="search" class="form-control border-0 p-0" placeholder="Buscar en marca.com" style="box-shadow: none;">
            <button type="submit" class="btn border-0 p-0">
                <i class="fas fa-search text-muted"></i>
            </button>
        </form>
    </div>
</nav>